 <div class="loader-bg"></div>
       
        <div class="mn-content fixed-sidebar">
            <header class="mn-header navbar-fixed">
                <nav style= "background-image: linear-gradient(to right, rgba(43, 0, 0), rgba(0, 16, 79))" class="cyan darken-1">
                    <div class="nav-wrapper row">
                        <section class="material-design-hamburger navigation-toggle">
                            <a href="#" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
                                <span class="material-design-hamburger__layer"></span>
                            </a>
                        </section>
                        <div class="header-title col s4">      
                            <span class="chapter-title">SIMAT e-GOVERNANCE SYSTEM</span>
                        </div>
                        <div ><img class="sreeku"  style="
                        width: 55px;
                        height:50px;
                        margin-bottom:20px;
                        margin-top:5px;
                         float:right; "
                         src="/assets/images/half.png">
                        </div>
                       
                           
                        </form>
                     
                        
                    </div>
                </nav>
            </header>
           
           
            <aside id="slide-out" class="side-nav white fixed">
                <div class="side-nav-wrapper">
                   
                
             
          <div class="footer">
                    <p class="copyright"><a href="http://simat.ac.in">SIMAT e-GOVERNANCE</a>©</p>
                
                </div>
                </div>
            </aside>
            <main  class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <!-- <div class="page-title"><h4>Faculty Leave Management System</h4></div> -->

                          <div  class="col s12 m6 l8 offset-l2 offset-m3">
                              <div class="card white darken-1">

                                  <div class="card-content ">
                                 
                                      <h4 style="text-align: center;color:#002d75;font-family: 'Rubik', sans-serif;" >WELCOME</h4> 
                                      <h5 style="text-align: center;color:#002d75;font-family: 'Rubik', sans-serif;" >SREEPATHY e-GOVERNANCE SYSTEM</h5> <br> 
                                        
                                         <h4 style="text-align: center;"><button   onclick="window.location.href = '/admin/adminLogin';" type="button" style="padding-left: 29px;padding-right: 29px;" class="btn btn-primary">Admin Login</button></h4>  
                                         <h4 style="text-align: center; "><button   onclick="window.location.href = '/users/facultyLogin';"  type="button" style="padding-left: 20px;padding-right: 29px;" class="btn btn-primary">  Faculty Login<h4>........</h4>   </button></h4>

                                          
                                           
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </main>
            
        </div>
        <div class="left-sidebar-hover"></div>