{{> header}}
        
{{> footer}}
           
            <main  class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <!-- <div class="page-title"><h4>Faculty Leave Management System</h4></div> -->

                          <div  class="col s12 m6 l8 offset-l2 offset-m3">
                              <div class="card white darken-1" style="border-radius: 35px;">

                                  <div class="card-content " >
                                 
                                      <h4 style="text-align: center;color:#002d75;font-family: 'Rubik', sans-serif;" >WELCOME</h4> 
                                      <h5 style="text-align: center;color:#002d75;font-family: 'Rubik', sans-serif;" >SREEPATHY e-GOVERNANCE SYSTEM</h5> <br> 
                                        
                                         <h4 style="text-align: center;"><button   onclick="window.location.href = '/admin/adminLogin';" type="button" style="padding-left: 29px;padding-right: 29px;" class="btn btn-primary">Admin Login</button></h4>  
                                         <h4 style="text-align: center; "><button   onclick="window.location.href = '/users/facultyLogin';"  type="button" style="padding-left: 20px;padding-right: 29px;" class="btn btn-primary">  Faculty Login<h4>........</h4>   </button></h4>

                                          
                                           
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>
                
            </main>
            
        
       