<aside id="slide-out" class="side-nav  fixed">
        <div class="side-nav-wrapper">



            <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">


                <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/viewList"><i
                            class="material-icons">account_box</i>View List</a></li>
                <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/list"><i
                            class="material-icons">account_box</i>Add List</a></li>

             {{!   <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/leaves"><i
                            class="material-icons">account_box</i>Leaves</a></li> }}
                <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/hod"><i
                            class="material-icons">account_box</i>Hod</a></li>

                <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/princi"><i
                            class="material-icons">account_box</i>Principal</a></li>

                <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/hr"><i
                            class="material-icons">account_box</i>HR</a></li>

                <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/adminLogin"><i
                            class="material-icons">account_box</i>Logout</a></li>



            </ul>
            {{> footer}}
        
    </aside>