
{{!<div class="mn-content fixed-sidebar">}}
    <header class="mn-header navbar-fixed">
        <nav style="background-image: linear-gradient(to right, rgba(43, 0, 0), rgba(0, 16, 79))">
            <div class="nav-wrapper row">
                
                <div class="header-title col s4">
                    <span class="chapter-title">SIMAT E-GOVERNANCE {{#if admin}}| ADMIN {{else if user.hod}}| HOD{{else if user.principal}}| PRINCIPAL
                        {{else if user.hr}}| HR {{else if user}}|  FACULTY  {{/if}}</span>
                </div>


                <div ><img class="sreeku" style="
                        width: 55px;
                        height:50px;
                        float:right; 
                         margin-top: 5px;
                         " src="/assets/images/half.png"  >
                </div>

            </div>


        </nav>
    </header>