<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="/assets/images/profile-image.png" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">

                <p></p>
                <span></span>


            </div>
        </div>

        <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">

            <li class="no-padding"><a class="waves-effect waves-grey" href=""><i
                        class="material-icons">account_box</i>{{user.name}}</a></li>
            <li class="no-padding"><a class="waves-effect waves-grey" href=""><i
                        class="material-icons">settings_input_svideo</i>Change Password</a></li>
            <li class="no-padding">
                <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>Leaves<i
                        class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>



                        <li><a id="summary" href="">Leave Summary</a></li>
                        <script>
                            const year = new Date().getFullYear();
                            document.getElementById('summary').setAttribute('href', `/hrsummary/${year}`)
                        </script>
                        <li><a href="/admin/findLeave">Find Leave</a></li>


                    </ul>
                </div>
            </li>



            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/admin/signoutHr"><i class="material-icons">exit_to_app</i>Sign
                    Out</a>
            </li>


        </ul>
        <div class="footer">
            <p class="copyright"><a href="http://simat.ac.in/">SIMAT e-GOVERNANCE</a>©</p>

        </div>
    </div>
</aside>
