{{> loader}}
{{> header}}
{{> nav}}
    <main class="mn-inner">
        <div class="row">

            <div class="page-title" style=" margin-left: 20%;   font-weight: bold;">Leave Application</div>
        </div>
        <div class="col s12 m12 l8">
            <div class="card" style="margin-left: 20%;">
                <div class="card-content">
                    <form  action="/users/applyLeave/{{user._id}}"  method="post" >
                        <div>
                            <h5>Provide the details below :</h5>
                            <section>
                                <div class="wizard-content">
                                    <div class="row">
                                        <div class="col m12">



                                            <!-- Select Leave Type -->
                                            <div class="input-field col  s12">
                                                <select id="selectval" name="leavetype" autocomplete="off">
                                                    <option value="">Select leave type...</option>

                                                    <option value=""></option>
                                                    <option value="Casual Leave">Casual Leave</option>

                                                </select>
                                            </div>
                                            <script>

                                                function show2s() {
                                                    document.getElementById('div1').style.display = 'block';
                                                }
                                            </script>



                                            <!-- Leave Details -->
                                            <div class="input-field col m6 s12">
                                                <label for="fromdate"></label>
                                                <input id="sree" onchange="adddate()" name="fromdate" type="date"
                                                    class='input-group date' autocomplete="off" required>
                                            </div>

                                            <div class="input-field col m6 s12">
                                                <label for="todate"></label>
                                                <input id="sree2" onchange="adddate()" name="todate" type="date"
                                                    class='input-group date' autocomplete="off" required>

                                            </div>
                                            <p>Note : If your leave dates contains two different months, kindly apply
                                                the leaves seperately for each month.</p>

                                            <div class="input-field col m6 s12">
                                                <input style="display: none;" id="sree3" name="nofdays" min="1"
                                                    max="12">
                                                    
                                                    
                                            </div>
                                            <script>

                                                function adddate() {
                                                    date1 = document.getElementById('sree').value;
                                                    date2 = document.getElementById('sree2').value;
                                                    date1 = new Date(date1)
                                                    date2 = new Date(date2)
                                                    const diffTime = Math.abs(date2 - date1);
                                                    //const diffDays = (Math.floor((date2-date1) / (1000 * 60 * 60 * 24))) ;
                                                     const diffDays = (Math.ceil(diffTime / (1000 * 60 * 60 * 24))) + 1;




                                                    var x = document.getElementById("sree3");
                                                    x.style.display = "block";
                                                    console.log(date1)
                                                    anirudh = date2
                                                    console.log(anirudh)
                                                    if (anirudh == "Invalid Date") {
                                                        document.getElementById("sree3").value = "Please specify end date"

                                                    } else {
                                                        document.getElementById("sree3").value = diffDays

                                                    }




                                                }


                                            </script>
                                            <label ></label>
                                                    <input style="display: none;" value="{{user.id}}" name="id" type="text">


                                            <div class="input-field col m12 s12">
                                                <label for="birthdate">Description</label>
                                                <textarea id="textarea1" name="description" class="materialize-textarea"
                                                    length="500" required></textarea>
                                            </div>

                                        

                                        </div>
                                        <input type="hidden"  name="name" value="{{user.name}}">
                                        <input type="hidden"  name="department" value="{{user.department}}">

                    <button type="submit" onclick="myFunction22()" class="waves-effect waves-light btn indigo m-b-xs">Apply
                    Leave</button>



 
                    </form>

                   






                
                
               
                    
                </script>


                

            </div>
        </div>
        </section>


        </section>
</div>

</div>
</div>
</div>
</div>
</main>
</div>
<div class="left-sidebar-hover"></div>