{{> loader}}
{{> header}}
   {{> nav}}


    
        <main class="mn-inner">
            <div class="row">

                <div class="page-title" style="    font-weight: bold;">Change Password</div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card" style="margin-left: 20%;">
                    <div class="card-content">


                        <form action="/users/updatePassword/{{user._id}}" method="post">


                            <div class="class=col s12">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" autocomplete="off"
                                        name="password" required>
                                    <label for="password">Current Password</label>
                                </div>

                                <div class="input-field col s12">
                                    <input id="password" type="password" name="newPassword" class="validate"
                                        autocomplete="off" required>
                                    <label for="newPassword">New Password</label>
                                </div>

                                <div class="input-field col s12">
                                    <input id="password" type="password" name="confirmPassword" class="validate"
                                        autocomplete="off" required>
                                    <label for="confirmPassword">Confirm Password</label>
                                </div>


                                <div class="input-field col s12">
                                    <button type="submit" name="change"
                                        class="waves-effect waves-light btn indigo m-b-xs"
                                        onclick="return valid();">Change</button>

                                </div>




                            </div>

                        </form>

                    </div>
                </div>



            </div>

</div>
</main>

</div>
<div class="left-sidebar-hover"></div>