/* Write your custom CSS here */
.h1sree{
    color: aliceblue;
}
.sree{
    background-color: aqua;
    color: black;
}
.waves-effect:active{
    color: brown;
}


.i {
    color: #aaaaaa;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    transition: 200ms;
    
  }

   .i:hover,
   .i:focus {
      transform: translateY(-5px);
      color: rgb(97, 97, 97);;
      text-decoration: none;
      cursor: pointer;
      
  }

    
  