/* Write your custom CSS here */
.h1sree{
    color: aliceblue;
}
.sree{
    background-color: aqua;
    color: black;
}
.waves-effect:active{
    color: brown;
}


.i {
    color: #aaaaaa;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    transition: 200ms;
    
  }

   .i:hover,
   .i:focus {
      transform: translateY(-5px);
      color: rgb(97, 97, 97);;
      text-decoration: none;
      cursor: pointer;
      
  }
.send-btn {
  background-color: #26a69a; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.send-btn:hover {
  background-color: #72d4cb;
}

.cancel-btn {
  background-color: brown; /* Red */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-btn:hover {
  background-color: rgb(185, 86, 86);
}
    
path {
  stroke: #fff;
}

text {
  font-size: 14px;
  font-weight: bold;
  text-anchor: middle;
}

