{{> loader}}
{{> header}}

{{> hr-nav}}



<main class="mn-inner" style="margin-left: 20%;">
    <div class="card">
        <div class="card-content ">

            <div class="row">
                <div class="col-md-6 ">

                    <form class="form-inline my-2 my-lg-0" onsubmit="return search()"
                        style="    justify-content: center;">
                        <div class="input-group" style="align-items: center; text-align-last: center;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Enter Faculty Code"
                                id="search-input" required>
                            <a href="" style="text-decoration: none; margin-top: 12px;" id="search-icon">
                                <i class="fa fa-search i fa-3x" style="font-size: 23px;"></i>
                            </a>
                        </div>
                    </form>

                </div>
                <div class="col-md-6">

                    <form class="form-inline my-2 my-lg-0" onsubmit="return search2()"
                        style="    justify-content: center;">
                        <div class="input-group" style="align-items: center; text-align-last: center;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Enter SL.No"
                                id="search-input2" required>
                            <a href="" style="text-decoration: none; margin-top: 12px;" id="search-icon2">
                                <i class="fa fa-search i fa-3x" style="font-size: 23px;"></i>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
            <div id="table-container"></div>

            
                
            </div>
           



        </div>
    </div>
    <script>
        const searchInput = document.getElementById('search-input');
        const searchIcon = document.getElementById('search-icon');



        searchIcon.addEventListener('click', function (event) {
            event.preventDefault();

            facLeaves();
        });

        function search() {

            facLeaves();
            return false;
        }

        function facLeaves() {
            value = searchInput.value;
            
            searchInput2.value = "";
            if (value != "") {
                if (value.length == 5) {
                    fetch('/admin/hrFacSearch', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ value })
                    }).then(response => 
                        
                        response.json()

                )
                        .then(data => {
                            
                            
                            if (data.facLeaves) {

                                const tableHtml = `
      <div class="row">
      <div class="col-md-6">
        
       <p style="font-weight: bold; color: rgb(110, 110, 110); margin-top: 30px; ">Name : ${data.facLeaves[0].name}<br> Dept : ${data.facLeaves[0].department.toUpperCase()}</p>
       </div>
        <div class="col-md-6" >
             <p style="font-weight: bold; color: rgb(110, 110, 110); margin-top: 30px; ">Casual Leaves : ${data.TL}<br> Duty Leaves : ${data.DL}</p>
             </div>
             </div>
                <br>
                
       <table style="border-top: solid; border-color: rgba(110, 110, 110, 0.212); margin-top: 10px; "
                class="display responsive-table table-sm">
                <thead style="color: rgb(110, 110, 110);">
                    <tr>
                        <th scope="col">SL.No</th>
                        <th scope="col">Leave type</th>
                        <th scope="col">From </th>
                        <th scope="col">To </th>
                        <th scope="col">No.of days</th>

                        
                        
                    </tr>
                </thead>
                <tbody style="font-weight:500 ;   color: rgb(110, 110, 110);">
                    <style>
                        tr:nth-child(even) {
                            background-color: #f2f2f2;
                        }
                    </style>
                    ${data.facLeaves.map(item => `
                     <tr>
                         <td>${item.serialNo?item.serialNo:''}</td>
                        <td>${item.leavetype?item.leavetype:''}</td>
                        <td style="    font-size: 11px;  " id="fromdate"> ${item.fromdate ? item.fromdate:item.halfdaydate? item.halfdaydate:''} </td>
                        <td style="    font-size: 11px;  " id="todate">${item.todate ? item.todate : item.halfdaydate? item.halfdaydate :'No records..'} </td>
                        <td>${item.nofdays?item.nofdays:''}</td>
                        
                        `).join('')}
                        </tbody>
            </table> 
            `;
                                document.getElementById('table-container').innerHTML = tableHtml;
                            }
                            else {
                                const msg = `
        <h6 style=" background-color: #f2f2f2;     text-align: center;">Faculty not found<h6>`
                                document.getElementById('table-container').innerHTML = msg;
                            }
                        })
                        .catch(error => console.error(error));

                }
                else {
                    searchInput.setCustomValidity("Please enter a valid code.");
                    searchInput.reportValidity();
                }

            }

        }

        const searchInput2 = document.getElementById('search-input2');
        const searchIcon2 = document.getElementById('search-icon2');

        searchIcon2.addEventListener('click', function (event) {
            event.preventDefault();
            // Call your function here
            singleLeave();
        });

        function search2() {
            // Call your function here
            singleLeave();
            return false;
        }

        function singleLeave() {
            // Your function code here
            console.log('Searching2...');
            searchInput.value = "";
            const input =searchInput2.value
            if(input.length == 11){
                fetch('/admin/hrsingleleave', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ input })
                    }).then(response => 
                        
                        response.json()

                )
                        .then(data => {
                            
                            
                            if (data.singleLeave != null) {

                                const tableHtml = `
                                <div class="responsive-table" style="padding: 15px;">
                                <table id="example" class="display" style="    outline: auto;">
                    <tbody>
                        <tr>
                            <td><strong>Faculty Name:</strong></td>
                            <td>${data.singleLeave.name}</td>
                            <td><strong>Faculty Code:</strong></td>
                            <td>${data.singleLeave.id}</td>
                        </tr>
                        <tr>
                            <td><strong>Leave Type:</strong></td>
                            <td>${data.singleLeave.leavetype}</td>
                            <td><strong>Leave Dates:</strong></td>
                            <td><strong>From :</strong> ${data.singleLeave.fromdate? data.singleLeave.fromdate:data.singleLeave.halfdaydate?data.singleLeave.halfdaydate:'' }<br><strong>To
                                    &emsp; :</strong> ${data.singleLeave.todate? data.singleLeave.todate:data.singleLeave.halfdaydate?data.singleLeave.halfdaydate:''}</td>
                        </tr>
                        <tr>
                            <td><strong>Leave Description:</strong></td>
                            <td colspan="3">${data.singleLeave.description}}</td>
                        </tr>
                        <tr>
                            <td><strong>Alternate Arrangement:</strong></td>
                            <td colspan="3">${data.singleLeave.finalarrangement.map(item => `${item}<br></td>
                        </tr>
                       `).join('') }
                        <tr>
                            <td><strong>HOD Comment:</strong></td>
                            <td colspan="3">${data.singleLeave.hodComment}</td>
                        </tr>
                        
                        <tr>
                            <td><strong>Principal Comment:</strong></td>
                            <td colspan="3">${data.singleLeave.princiComment}</td>
                        </tr>
                        
                    </tbody>
                </table>
                </div>
                                `;
                                document.getElementById('table-container').innerHTML = tableHtml;
            }else{
                const msg =` <h6 style=" background-color: #f2f2f2;     text-align: center;"> No such leave found.<h6>`;
                    document.getElementById('table-container').innerHTML = msg;
            }
                        })
            }
             else {
                    searchInput2.setCustomValidity("Please enter a valid serial number.");
                    searchInput2.reportValidity();
                }
        }
    </script>
</main>